/* Fade in and slide up */
.fade-in-Y-reverse {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 1s ease, transform 1s ease;
}

/* Fade in and slide down */
.fade-in-Y {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

/* Fade in and slide left */
/* IN USE */
.fade-in-X-reverse {
  opacity: 0;
  transform: translateX(400px);
  transition: opacity 1s ease, transform 1s ease;
}

/* Fade in and slide right */
/* IN USE */
.fade-in-X {
  opacity: 0;
  transform: translateX(-400px);
  transition: opacity 1s ease, transform 1s ease;
}

/* Fade in */
/* IN USE */
.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease;
}