@font-face {
  font-family: "poppinsBold";
  src: url(Fonts/Poppins-Black.ttf);
}

@font-face {
  font-family: "poppinsMedium";
  src: url(Fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "poppinsRegular";
  src: url(Fonts/Poppins-Regular.ttf);
}

:root {
  --primary-color: #53302c;
  --bg-color1: #f4f5f7;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  font-family: "poppinsRegular";
}

.partnersMain {
  width: 100%;
  height: 350px;
}

.serviceHeading {
  width: 100%;
  height: 200px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: white;
  font-family: "poppinsBold", sans-serif !important;
}

.partnersContent {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partnersPara {
    font-size: 17px;
    margin: auto auto;
    width: 90%;
}

.partners {
    background-color: var(--primary-color);
    color: white;
}